html {
    width: 100%;
    height: 100%;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

body {
    background: #27ae60;
    width: 100%;
    height: 100%;
    margin: 0;
}

#main_screen {
    width: 100%;
    height: 100%;
}

#menu_screen {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

#welcome_screen {
    width: 100%;
    height: 100%;
    background: url('../img/splash.png') no-repeat center center;
    background-size: contain;
}

#popup_screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

#title {
    width: 100%;
    height: 20%;
    margin-top: 10%;
    background: url('../img/title.png') no-repeat center center;
    background-size: contain;
}

#dialog {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 40%;
    background-color: #fff;
    border-radius: 10px;
}

#dialog .header {
    font-size: 200%;
    background-color: #3cb66f;
    width: 100%;
    height: 20%;
    padding-top: 4%;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
}

#dialog input[type=text] {
    border-bottom: 2px #27ae60 solid;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    width: 90%;
    height: 10%;
    margin: 5% 0;
    font-size: 200%;
    color: #27ae60;
}

#dialog input[type=submit] {
    background-color: #3cb66f;
    color: #fff;
    font-size: 200%;
    border-radius: 10px;
    width: 90%;
    padding: 2%;
    border: none;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: #fff;
    margin: 10% auto;
    font-size: 220%;
    display: block;
    background-color: #2ecc71;
    width: 80%;
    height: 70px;
    padding: 4% 0 0 0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #3cb66f;
}